{% extends 'base.html' %}
{%load static%}


{% block content %}


<div class="container">
    {% if request.user == author %}
    <div class="row mb-3">
        <div class="col">
            <h2><strong>Author: </strong><em>{{author | title}}</em></h2>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-6">
            {% for post in posts %}
            <div class="card mb-4">
                <a href="{% url 'post-item' post.id%}" style="color: inherit; text-decoration: none">
                    {% if post.image %}
                    <img src="{{post.image.url}}" class="img-fluid card-img-top" alt="Blog image" style="width: 100%;">
                    {%else%}
                    <img src="{% static 'images/default.png'%}" class="img-fluid card-img-top" alt="Blog image">
                    {%endif%}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text"></p>
                        <small>Published on <span class="text-muted">
                                <time datetime="{{ post.published_at| date:'Y-m-d'}}">
                                    {{ post.published_at| date:'Y-m-d' }}
                                </time>
                            </span></small><br>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock content %}
<p></p>
