{% extends 'base.html' %}

{% block content%}
<div class="container mx-auto">
    <div class="row">
        <h2>Sign Up</h2>
        <div class="col">
            <form action="" method="post" class="form-control">
                {% csrf_token%}
                {% for field in form %}
                <p>
                    {% if field.errors%}
                <ul class="errorlist">
                    {% for error in field.errors%}
                    <li>{{error}}</li>
                    {% endfor %}
                </ul>
                {%endif%}
                {{field.label_tag}} {{field}}
                {% endfor %}
                </p>
                <input type="submit" value="Register" class="btn btn-primary">
                <p>Already have account? <a href="{% url 'login'%}">Login</a></p>
            </form>
        </div>
    </div>
</div>

{% endblock content%}